Crime_Data_from_2020_to_Present.csv
Global YouTube Statistics.csv
THE World University Rankings 2016-2024.csv
What I've learned.docx
df_ready.csv
ipynb_billions.ipynb
la_city_crime.ipynb
spotify-2023.csv
