Crime_Data_from_2020_to_Present.csv
Global YouTube Statistics.csv
THE World University Rankings 2016-2024.csv
What I've learned.docx
ipynb_billions.ipynb
la_city_crime.ipynb
spotify-2023.csv
dashboards_code.ipynb
.vscode
kaggle
backup
Changelog.md